*{
  margin: 0 auto;
  padding: 0;
}

body{
  background-color: rgb(77, 3, 87);
}

.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.max-width{
  max-width: 500px;
  width: 300px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10%;
  background-color: rgba(255, 255, 255, 0.185);
  box-shadow: 0 0 10px white;
  border-radius: 5px;
  text-align: center;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 20px;
  color: white;
}

button{
  margin-top: 30px;
  padding: 10px;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
  border-radius: 15px;
}

button:hover{
  border: 5px solid black;
}

.verde{
  background-image: linear-gradient(45deg, white, rgb(52, 248, 52));
}

.amarelo{
  background-image: linear-gradient(45deg, white, yellow);
}

.vermelho{
  background-image: linear-gradient(45deg, white, red);
}

footer{
  margin-top: 180px;
  text-align: center;
  color: white;
}

footer > a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(248, 244, 9);
}

footer > a:hover{
  color: red;
  font-size: 1.3em;
}

@media only screen and (min-width: 300px) and (max-width: 500px){
  
  .max-width{
    width: 250px;
    margin-top: 30%;
  }
  
  .title{
    margin-top: 30px;
  }

  footer{
    margin-top: 190px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1200px){
  .max-width{
    width: 400px;
    height: 250px;
    margin-top: 30%;
  }
  
  .title{
    margin-top: 40px;
    font-size: 50px;
  }

  button{
    margin-top: 50px;
    padding: 15px;    
    font-size: 1.5em;
  }

  h1{
    font-size: 2em;
  }

  footer{
    margin-top: 300px;
    font-size: 20px;
  }
}
